body,html{
    padding:0px !important;
    margin: 0px !important;  
}
h1{
    font-weight: 900 !important;
    font-size: 48px !important;
    color: #8886FA !important; 
}
p{
    font-weight: 500;
    font-size: 16px;
    color: #292861;
}
h5{
    font-weight: 900 !important;
    font-size: 24px !important;
    color: #8886FA !important;
}
#thumb{
    background-image: url(src/img-banner.svg);
    background-size: cover ;
    background-repeat: none;
    min-width: 50%;
}
.card{
    border: 1px solid rgb(246, 245, 245) !important;
}
#contatos{
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    color: #8886FA;
}
#card-lojas{
    width: auto;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 12px;
    align-items: center;
    text-decoration: none;
}
a:visited {
   text-decoration: none;
}

#card-lojas:hover{
    background: #F3F3F3;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 480px) { 

}
@media (min-width: 480px) { 

}

@media (max-width: 768px) {
}

@media (max-width: 992px) { 

}

@media (max-width: 1200px) { 

}

@media (min-width: 1400px) {

}